<header class="container">
  <div class="top-shortcut">
    <span
      ><strong>O ponto de encontro dos profissionais de informática </strong>
    </span>
  </div>
  <span style="padding: 10px"></span>
  <div class="logo">
    <h1>
      <a
        href="https://www.apinfo.com/apinfo/index.cfm"
        target="_top"
        title="APinfo"
        >APinfo</a
      >
    </h1>
  </div>

  <div class="publicidade-home">
    <a href="https://www.apinfo.com/cgi/clickba.cfm?empre=apipesq" target="_top"
      ><img src="https://www.apinfo.com/banner/apipesq21.gif" alt="Pecados"
    /></a>

    <!--     <a href="https://www.apinfo.com/cgi/clickba.cfm?empre=apipesq" target="_top"
      ><img src="https://www.apinfo.com/banner/apipesq21bt.gif" alt="Pecados"
    /></a> -->
    <span style="padding: 30px"></span>
    <a
      href="https://www.apinfo.com/cgi/clickba.cfm?empre=Pecados"
      target="_top"
    >
      <img src="https://www.apinfo.com/banner/pecados.gif" alt="Pecados"
    /></a>
  </div>
</header>
