<section>
  <div>
    <a
      href="https://www.apinfo2.com/apinfo/informacao/p21sumario.cfm"
      target="_top2"
    >
      <img src=".\assets\banner\apipesq21bt.gif" alt="Apinfo" />
    </a>
  </div>
  <div>
    <img src=".\assets\banner\api-h1.gif" alt="Apinfo" />
  </div>
</section>
<hr />

<section>
  <h3>Vagas Recentes</h3>
  <br />
  <article>
    <div class="nome-vaga">
      <a
        href="https://www.apinfo.com/apinfo/inc/list44.cfm?codvaga=61948&amp;k=rwtFhwrTEbqWqkMMxScrsnMantFrsFtZs"
        >Analista de IAM</a
      >
    </div>
    <div class="data">São Paulo - SP</div>
    <div class="empresa">Emphasys</div>
    <footer class="rodape-vr"></footer>
  </article>
  <article>
    <div class="nome-vaga">
      <a
        href="https://www.apinfo.com/apinfo/inc/list44.cfm?codvaga=61886&amp;k=ksthFwrHqHqHqkjLxMLjFjjjMFrFwsksZ"
        >Engenheiro de Dados Sênior</a
      >
    </div>
    <div class="data">Home Office - HO</div>
    <div class="empresa">Randstad Brasil</div>
    <footer class="rodape-vr"></footer>
  </article>
  <article>
    <div class="nome-vaga">
      <a
        href="https://www.apinfo.com/apinfo/inc/list44.cfm?codvaga=61885&amp;k=ksYkhwrbtztTskLvLjLcFjcSaFZkkhrYh"
        >Analista de Negócios (SAP PP) - Sênior</a
      >
    </div>
    <div class="data">São Paulo - SP</div>
    <div class="empresa">Mollica IT</div>
    <footer class="rodape-vr"></footer>
  </article>
  <article>
    <div class="nome-vaga">
      <a
        href="https://www.apinfo.com/apinfo/inc/list44.cfm?codvaga=61884&amp;k=FsFtZwrWsWsHqkILcLjnFhnLSFttYrwZv"
        >Analista de Infraestrutura de Redes - Sênior</a
      >
    </div>
    <div class="data">São Paulo - SP</div>
    <div class="empresa">Mollica IT</div>
    <footer class="rodape-vr"></footer>
  </article>
  <article>
    <div class="nome-vaga">
      <a
        href="https://www.apinfo.com/apinfo/inc/list44.cfm?codvaga=61883&amp;k=FFwZhwrTbbbsbkIvnvjrFcacjFvtrtkvF"
        >Analista de Sustentação (.Net) - Pleno</a
      >
    </div>
    <div class="data">Home Office - HO</div>
    <div class="empresa">Mollica IT</div>
    <footer class="rodape-vr"></footer>
  </article>
  <article>
    <div class="nome-vaga">
      <a
        href="https://www.apinfo.com/apinfo/inc/list44.cfm?codvaga=61882&amp;k=ktwwwwrzqEHEHkjrrxIIFrSjMFYZtkvws"
        >Pessoa Desenvolvedora Java Fullstack - Pleno</a
      >
    </div>
    <div class="nome">Home Office - HO</div>
    <div class="empresa">Mollica IT</div>
    <footer class="rodape-vr"></footer>
  </article>
</section>
