<div class="container">
  <article>
    <div class="sixteen columns">
      <div class="three columns">
        <ul>
          <li class="titulo">Institucional</li>
          <li>
            <a href="https://www.apinfo.com/apinfo/inc/sobre.cfm">Sobre</a>
          </li>
          <li>
            <a href="https://www.apinfo.com/apinfo/inc/fale.cfm"
              >Fale conosco</a
            >
          </li>
          <li>
            <a href="https://www.apinfo2.com/apinfo/inc/itguestl.cfm"
              >Livro de visitas</a
            >
          </li>
          <li>
            <a href="https://www.apinfo.com/apinfo/inc/politica_privacidade.cfm"
              >Politica de Privacidade</a
            >
          </li>
          <li>
            <a href="https://www.apinfo.com/apinfo/inc/politica_cookies.cfm"
              >Politica de cookies</a
            >
          </li>
        </ul>
      </div>
      <div class="three columns">
        <ul>
          <li class="titulo">Profissionais</li>
          <li>
            <a href="https://www.apinfo.com/apinfo/inc/list4.cfm"
              >Pesquisar Vagas</a
            >
          </li>
          <li>
            <a href="https://www.apinfo2.com/apinfo/inc/cv-inc.cfm"
              >Incluir Currículo</a
            >
          </li>
          <li>
            <a href="https://www.apinfo2.com/apinfo/inc/validas.cfm"
              >Atualizar Currículo</a
            >
          </li>
          <li>
            <a href="https://www.apinfo2.com/apinfo/inc/cv-exc.cfm"
              >Excluir Currículo</a
            >
          </li>
          <li>
            <a href="https://www.apinfo.com/apinfo/inc/faqp.cfm"
              >Perguntas frequentes</a
            >
          </li>
        </ul>
      </div>
      <div class="three columns">
        <ul>
          <li class="titulo">Empresas</li>
          <li>
            <a href="https://www.apinfo2.com/apinfo/inc/pesq9a.cfm"
              >Pesquisar Currículo</a
            >
          </li>
          <li>
            <a href="https://www.apinfo2.com/apinfo/inc/pesqentra2.cfm"
              >Pesquisa Avançada CV</a
            >
          </li>
          <li>
            <a href="https://www.apinfo.com/apinfo/inc/incofe01.cfm"
              >Incluir Vaga</a
            >
          </li>
          <li>
            <a href="https://www.apinfo.com/apinfo/inc/alterar_vaga.cfm"
              >Alterar Vaga</a
            >
          </li>
          <li>
            <a href="https://www.apinfo.com/apinfo/inc/excofe.cfm"
              >Excluir Vaga</a
            >
          </li>
          <li>
            <a href="https://www.apinfo.com/apinfo/inc/faqe.cfm"
              >Perguntas frequentes</a
            >
          </li>
        </ul>
      </div>
      <div class="three columns">
        <ul>
          <li class="titulo">Informação</li>
          <li>
            <a href="https://www.apinfo2.com/apinfo/inc/ithelpl.cfm">IT Help</a>
          </li>
          <li>
            <a href="https://www.apinfo2.com/apinfo/inc/ithelpjl.cfm"
              >Fórum Jurídico</a
            >
          </li>
          <li>
            <a href="https://www.apinfo2.com/apinfo/inc/itforum1.cfm">Fórum</a>
          </li>
          <li>
            <a
              href="https://www.apinfo2.com/apinfo/inc/resultados_pesquisas.cfm"
              >Resultados Pesquisas</a
            >
          </li>
          <li>
            <a href="https://www.apinfo2.com/apinfo/inc/espaco_opiniao.cfm"
              >Espaço Opinião</a
            >
          </li>
        </ul>
      </div>
      <div class="three columns">
        <ul>
          <li class="titulo">Informação</li>
          <li>
            <a href="https://www.apinfo2.com/apinfo/informacao/p12sal-br.cfm"
              >Salários</a
            >
          </li>
          <li>
            <a href="https://www.apinfo.com/apinfo/inc/sal.cfm"
              >Planilha CLT x PJ</a
            >
          </li>
        </ul>
      </div>
    </div>
  </article>

  <div class="sixteen columns">
    <section id="busca" class="half-bottom">
      <form
        action="https://www.apinfo.com/apinfo/inc/list4.cfm"
        method="post"
        id="form-busca"
      >
        <div class="section-form">
          <div class="links-tipo">
            <a
              href="https://www.apinfo.com/apinfo/inc/list4.cfm"
              class="b-active"
              >Pesquise por vagas</a
            >
            |
            <a href="https://www.apinfo2.com/apinfo/inc/pesq9a.cfm"
              >Pesquise por currículos</a
            >
          </div>
          <div class="inline-busca">
            <input
              type="text"
              name="keyw"
              id="i-busca"
              placeholder="Digite sua busca aqui... palavras chave, ou o codigo da vaga, ou do currículo"
              title="Digite sua busca aqui..."
            /><input
              type="submit"
              id="btn-busca"
              value="Buscar"
              title="Buscar"
            />
          </div>
        </div>
      </form>
    </section>
  </div>
</div>
<section>
  <article>
    <h5 style="color: blue; background-color: #87cefa">
      <br /><strong
        >Participe do novo Forum :<br /><br />

        <a href="https://www.apinfo2.com/apinfo/inc/itforum1.cfm"
          >Comente a pesquisa apinfo 2021, sobre o mercado de TI e salários</a
        ><br /><br />
      </strong>
    </h5>
  </article>
  <article>
    <div class="bl-f">
      <a href="https://www.apinfo2.com/apinfo/inc/itforum1.cfm">
        <h2>Fórum</h2>
        <p>Comente a pesquisa apinfo 2021, sobre o mercado de TI e salários</p>
      </a>
    </div>
  </article>

  <article>
    <div class="bl-d">
      <a href="https://www.apinfo2.com/apinfo/inc/itguestl.cfm">
        <h2>Depoimentos</h2>

        <span class="bquote fleft">“</span>
        <span class="clearfix"></span>
        <p>
          <em
            >Já consegui vários empregos por aqui. O serviço é gratuito, de
            qualidade e fornece informações importantes sobre o mercado de
            trabalho em TI.</em
          >
        </p>
        <span class="bquote fright">”</span> <cite>Thiago Souza</cite>
      </a>
    </div>
  </article>
</section>
