<section>
  <div class="publicidade-home half-bottom">
    <a href="https://www.apinfo.com/apinfo/inc/list4.cfm" target="_top">
      <img src=".\assets\image\img_vagas.jpg" alt="Pecados"
    /></a>
    <p>
      Novas vagas ao longo de todo o dia. Pesquise oportunidades para sua
      carreira
    </p>
  </div>
  <div class="publicidade-home half-bottom">
    <a href="https://www.apinfo2.com/apinfo/inc/cv-inc.cfm" target="_top">
      <img src=".\assets\image\img_cv.jpg" alt="Pecados"
    /></a>
    <p>
      Inclua seu Curriculum grátis por tempo <strong>ilimitado</strong> e
      concorra a <strong>todas</strong> as vagas
    </p>
  </div>
  <div class="publicidade-home half-bottom">
    <a href="https://www.apinfo2.com/apinfo/inc/ithelpl.cfm" target="_top">
      <img src=".\assets\image\img_faq.jpg" alt="Pecados"
    /></a>
    <p>
      Tire suas dúvidas e também responda a dúvidas de outros usuários,
      participe!!!
    </p>
  </div>

  <hr />
  <h3>Pesquise</h3>

  <h2>
    <strong>
      <a href="https://www.apinfo.com/apinfo/inc/list4sap.cfm"
        >Vagas para SAP</a
      ></strong
    >
  </h2>

  <h2>
    <strong>
      <a href="https://www.apinfo.com/apinfo/inc/list4est.cfm"
        >Vagas para estagiários</a
      ></strong
    >
  </h2>

  <h2>
    <strong>
      <a href="https://www.apinfo2.com/apinfo/inc/pesq9aingf.cfm"
        >Curriculos de profissionais fluentes em inglês</a
      ></strong
    >
  </h2>
</section>
<hr />
<section>
  <h3>Bons Currículos</h3>
  <br />
  <article>
    <div class="nome-vaga">
      <a
        href="https://www.apinfo2.com/apinfo/inc/pesq9adesta.cfm?pkey=tKskKstFtyvkrvZwnSLILxMcuEWEtWqWWqbsqTsqEb"
        >Gerente de Projetos - PMO</a
      >
    </div>
    <div class="uf">Niterói - RJ</div>
    <div class="nome">Jose</div>
    <footer class="rodape-vr"></footer>
  </article>
  <article>
    <div class="nome-vaga">
      <a
        href="https://www.apinfo2.com/apinfo/inc/pesq9adesta.cfm?pkey=tKskKtZYksvkrvZwnLvjcSMcuEWEtWbzqWWsbTsqEb"
        >Assistente de Informática</a
      >
    </div>
    <div class="uf">Carapicuíba - SP</div>
    <div class="nome">Luiz</div>
    <footer class="rodape-vr"></footer>
  </article>
  <article>
    <div class="nome-vaga">
      <a
        href="https://www.apinfo2.com/apinfo/inc/pesq9adesta.cfm?pkey=tKskKtZryKvsrvZwnLvrxnMSuEWEtWbHqzqTTqbqEb"
        >Administrador Banco de Dados - DBA</a
      >
    </div>
    <div class="uf">São Paulo - SP</div>
    <div class="nome">Karson</div>
    <footer class="rodape-vr"></footer>
  </article>
  <article>
    <div class="nome-vaga">
      <a
        href="https://www.apinfo2.com/apinfo/inc/pesq9adesta.cfm?pkey=tKskFysYFkkkrvZwIxSjIcccuEWEtWqbqHWbHEsqEb"
        >Analista de monitoramento</a
      >
    </div>
    <div class="uf">Barueri - SP</div>
    <div class="nome">Everson</div>
    <footer class="rodape-vr"></footer>
  </article>
</section>
